img {
  width: 40px;
  height: 40px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 5px;
}

#stars-outer img {
  cursor: pointer;
}
